//Add global variables and framework overrides here
//-------------------------------------------------

//Primary colors palette
// -------------------------
$black: #000000
$dark-grey: #73717C
$light-grey: #C7C6CA
$dim-white: #F4F5F7
$smoke: #DBDDE1
$white: #ffffff
$yellow: #FFDA83
$green: #44E291
$dark-blue: #333161

//Color use palette
// -------------------------
$primary-color: $green
$secondary-color: $dark-blue
$code-font-color: $light-grey

//Font information
// -------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono:400,700')
$main-font: 'Space Mono', monospace
$text-font: 'Open Sans', sans-serif

$small-text: 0.8rem
$medium-text: 0.9rem
$sub-text: 1rem
$description-text: 1.2rem
$big-text: 1.4rem
$large-text: 2.8rem

//Separators
// -------------------------
$sep-small: 1rem
$sep-medium: 3rem
$sep-large: 5rem



