.sidebar
    height: 100vh
    display: block

    background-color: $dim-white

.App-logo
    color: $dark-blue
    font-weight: bold
    font-size: 1.2rem

// Navigation
//--------------------
.nav
    padding-top: 6rem
    color: $dark-grey

    &-item
        display: block
        
        &.active
            font-weight: bold
            color: $dark-blue
    &-icon

        &--holder
            display: inline-block

    &-title
        display: inline-block
